//- CHECK html conventions correct?
h3 Step 2: Upload pictures
p How does the existing area currently look like? 
button Upload pictures
h3 Step 3: Schedule a date
p When would you like for us to do the installation?
h3 Step 4: Your contact info
span.text Phone
input
span.text Email
input
span.text-box Message
input