
h3 Step 1: Calcuate a total quote
div
  span.text
  | Number of square feet:
  input.input-small
  a (what's my square footage?)
div
  span.text
    | Sealer:
  input.input-small
div
  span.text
    | Grouting:
  input.input-small
div
  span.text
    | Your total is: $__
button.btn.btn-primary
  | Add to cart 



