.jumbotron
	.container
		h1
			//- a(href='http://angularjs.org', target='_blank') Kris Tile Service Inc.
			Kris Tile Service Inc.
		p
			| Installing tile in all of Chicago-land since 1991 
		p
			| Call us today
			//- a(href='https://twitter.com/CaryLandholt', target='_blank') {{'CaryLandholt' | twitterfy}}
.container
	.row
		ng:include(src='\'/views/body.html\'')
