app:tabs
  app:tab(caption='Floor', selected='true')
    section()
      h2 Floor Tile 
      div
        a Contact us
        |  about your floor project.
      //- CHECK: is div appropriate for wanting to seperate new line? or should I use br? other?
      div
        a Gallery
      form.well
        h3 Step 1: Calcuate a total quote
        div
          span.text
          | Number of square feet:
          input.input-small
          a (what's my square footage?)
        div
          span.text
            | Sealer:
          input.input-small
        div
          span.text
            | Grouting:
          input.input-small
        div
          span.text
            | Your total is: $__
        button.btn.btn-primary
          | Add to cart 
        //- CHECK html conventions correct?
        h3 Step 2: Upload pictures
        p How does the existing area currently look like? 
        button Upload pictures
        h3 Step 3: Schedule a date
        p When would you like for us to do the installation?
        h3 Step 4: Your contact info
        span.text Phone
        input
        span.text Email
        input
        span.text-box Message
        input


  app:tab(caption='Shower')
    section(ng-controller='gitHubController as controller')

  app:tab(caption='Backsplash')
    section(ng-controller='gitHubController as controller')


  app:tab(caption='GitHub')
    section(ng-controller='gitHubController as controller')
      
      form.well.form-search(ng-submit='controller.search(controller.searchTerm)')
        input.input-medium.search-query(type='text', ng-model='controller.searchTerm')
        button.btn(type='submit')
          i.glyphicon.glyphicon-search
          | Search
      ul(ng-hide='!controller.repos.length')
        li(ng-repeat='repo in controller.repos track by repo.id | orderBy:\'pushed_at\':true')
          a(ng-href='{{repo.clone_url}}', ng-bind='repo.name', target='_blank')
          div(ng-bind='repo.description')

  app:tab(caption='People')
    .row
      .col-lg-6
        section(ng-controller='personController as controller')
          .alert.alert-danger(ng-show='!!controller.error')
            h4.alert-heading(ng-bind='controller.error.title')
            span(ng-bind='controller.error.message')
          form.well.form-search(ng-submit='controller.insertPerson(controller.person)')
            p
              span.label.label-info Heads up!
              span.text-info Try adding a duplicate name.
            input.input-medium(type='text', ng-model='controller.person.name', placeholder='Name')
            input.input-small(type='text', ng-model='controller.person.age', placeholder='Age')
            button.btn(type='submit')
              i.glyphicon.glyphicon-plus
              | Add Person
          ul(ng-hide='!controller.people.length')
            li.row(ng-repeat='person in controller.people track by person.id | orderBy:\'name\'')
              a(ng-href='#/people/{{person.id}}', ng-bind='person.name')

         //- <div class="col-lg-2">
          //-       <section ng-controller="personDetailsController as controller">
          //-         <dl>
          //-           <dt>Name</dt>
          //-           <dd ng-bind="controller.person.name"></dd>
          //-           <dt>Age</dt>
          //-           <dd ng-bind="controller.person.age"></dd>
          //-         </dl>
          //-       </section>
          //-     </div> 
